<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subjects</title>
</head>
<body>
        <h1>Subjects</h1>
        <nav>
            <a href="http://127.0.0.1:5500/share2teach/base/templates/maths.html">Mathematics</a>
            <a href="http://127.0.0.1:5500/share2teach/base/templates/english.html">English</a>
            <a href="http://127.0.0.1:5500/share2teach/base/templates/afikaans.html">Afrikaans</a>
            <a href="#">Life Orientation</a>
            <a href="#">History</a>
            <a href="#">Geography</a>
            <a href="#">Natural Science</a>
            <a href="#">Life Science</a>
            <a href="#">Physical Science</a>
            <a href="#">Computer Science</a>
        </nav>
</body>
</html>